<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Customer</title>
    <th:block th:insert="home_page::header"></th:block>
</head>
<body>
<th:block th:insert="home_page::navbar"></th:block>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 bg-light" id="create-form">
            <form action="/customer/create" method="post" style="margin: 5px" th:object="${customer}">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label>Id</label>
                        <input type="text" class="form-control" placeholder="Id" th:field="*{customerId}">
                        <small style="color: red" th:if="${#fields.hasErrors('customerId')}" th:errors="*{customerId}"></small>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Name</label>
                        <input type="text" class="form-control" placeholder="Email" th:field="*{customerName}">
                    </div>
                    <div class="form-group col-md-4">
                        <label>Birth Day</label>
                        <input type="date" class="form-control" th:field="*{customerBirthDay}">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-lg-4">
                        <label>Genger</label>
                        <select class="form-control" th:field="*{customerGender}">
                            <option th:value="0" th:text="Female"></option>
                            <option th:value="1" th:text="Male"></option>
                            <option th:value="2" th:text="Other"></option>
                        </select>
                    </div>
                    <div class="form-group col-lg-4">
                        <label>Id Card</label>
                        <input type="text" class="form-control" th:field="*{customerIdCard}">
                        <small style="color: red" th:if="${#fields.hasErrors('customerIdCard')}" th:errors="*{customerIdCard}"></small>
                    </div>
                    <div class="form-group col-lg-4">
                        <label>Phone</label>
                        <input type="text" class="form-control" th:field="*{customerPhone}">
                        <small style="color: red" th:if="${#fields.hasErrors('customerPhone')}" th:errors="*{customerPhone}"></small>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Email</label>
                        <input type="text" class="form-control" th:field="*{customerEmail}">
                        <small style="color: red" th:if="${#fields.hasErrors('customerEmail')}" th:errors="*{customerEmail}"></small>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Type</label>
                        <select class="form-control" th:field="*{typeCustomer}">
                            <option th:each="typeCustomer:${typeCustomerList}"
                                    th:value="${typeCustomer.typeCustomerId}"
                                    th:text="${typeCustomer.typeCustomerName}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <input type="text" class="form-control" th:field="*{customerAddress}">
                </div>
                <button type="submit" class="btn btn-primary">Sign in</button>
            </form>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>

</body>
</html>