<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="bootstrap">
    <meta charset="UTF-8">
    <title>Vinh Blue</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

    <link rel="stylesheet" href="background.css">
</head>
<body>
<th:block th:fragment="nab">
    <nav class="navbar navbar-expand-lg bg-dark" style="opacity: 0.6; color:white">
        <a class="navbar-brand" href="/home">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/goCreate}">Create</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" id="delete_link" href="#">Delete</a>
                </li>
            </ul>
            <a th:href="@{/login}"><button class="btn btn-outline-primary my-2 my-sm-0">Log in</button></a>
            <a th:href="@{/sign_in}"><button class="btn btn-outline-primary my-2 my-sm-0" >Sign in</button></a>
            <form class="form-inline my-2 my-lg-0" action="/find_by_name">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="name">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                <a th:href="@{/home/}"></a>
            </form>
        </div>
    </nav>
</th:block>
<div class="container-fluid">
    <div class="row">
        <th:block th:each="list : ${listModel}">
            <div class="col-lg-3">
                <div class="row" style="margin: 15px 0px 15px 0px">
                    <div class="col-lg-12">
                        <a><img th:src="${list.urlImg}" alt="aha" style="width: 100%; height:100%"/></a>
                        <p class="delete_choise" align="center"><input type="checkbox" class="check_box_model"
                                                                       th:value="${list.modelId}"><span
                                th:text="${list.modelName}" style="color: black; font-weight: bold"></span></p>
                        <a class="detail_model" href="#" style="text-decoration: none"><p th:text="${list.modelName}"
                                                                                          align="center"
                                                                                          style="color: black; font-weight: bold"></p>
                        </a>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
    <div class="row" style="margin-top: 30px">
        <div class="col-lg-5"></div>
        <div class="col-lg-3">
            <a th:if="${listModel.hasPrevious()}" th:href="@{/home(page=${listModel.number - 1})}">Perious</a>
            <span th:text="${listModel.number+1}"></span>/<span th:text="${listModel.totalPages}"></span>
            <a th:if="${listModel.hasNext()}" th:href="@{/home(page=${listModel.number + 1})}">Next</a>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script>

    $(".delete_choise").hide();

    $("#delete_link").click(function () {
        $(".detail_model").hide();
        $(".delete_choise").show();
        $("#delete_link").click(function () {
            $(".detail_model").show();
            $(".delete_choise").hide();
        })
    });
</script>
</body>
</html>