<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!--   Brand/logo-->
  <a class="navbar-brand" href="#" routerLink="">

    <img src="https://png.pngtree.com/png-clipart/20190604/original/pngtree-religion-lotus-png-image_1284113.jpg" alt="Final Exa" style="width:40px;">
  </a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="list">Product</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 3</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
