<div align="center"><img src="https://angular.io/assets/images/logos/angular/angular.svg" style="width: 200px; height: 200px"></div>
<h1>Profile Component Template</h1>
<h2>Awesome Calculator</h2>
<input type="number" name="firstNum" [(ngModel)]="firstNum">
<input type="number" name="secNum" [(ngModel)]="secNum"><br>
<p>Result: {{result}}</p>
<span ><button (click)="add()">Add</button></span>
<span ><button (click)="sub()">Sub</button></span>
<span ><button (click)="mul()">Mul</button></span>
<span><button (click)="div()">Div</button></span>



