<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Employee</title>
    <th:block th:insert="home_page::header"></th:block>
</head>
<body>
<th:block th:insert="home_page::navbar"></th:block>
<p th:insert="home_page::tim-kiem"></p>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-10">
            <table class="table table-hover bg-light" style="opacity: 0.9" id="result">
                <thead>
                <tr>
                    <th scope="col"><small><b>STT</b></small></th>
                    <th scope="col"><small><b>Chọn</b></small></th>
                    <th scope="col"><small><b>Tên sản phẩm</b></small></th>
                    <th scope="col"><small><b>Loại sản phẩm</b></small></th>
                    <th scope="col"><small><b>Giá bắt đầu</b></small></th>
                    <th scope="col"><small><b>Tình trạng</b></small></th>
                    <th scope="col"><small><b>Hành động</b></small></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="product:${productList}">
                    <tr>
                        <th scope="row"><small><b th:text="${product.productId}"></b></small></th>
                        <td><input type="checkbox" th:value="${product.productId}"/></td>
                        <td><small th:text="${product.productName}"></small></td>
                        <td><small th:text="${product.productPrice}"> </small></td>
                        <td><small th:text="${product.typeProduct.typeProductName}"></small></td>
                        <td><small th:text="${product.productStatus}"> </small></td>
                        <td>
                            <a th:href="@{/product/goUpdate(id=${product.productId})}" style="text-decoration: none">
                                <i class="fas fa-user-edit" style="color:blue"></i>
                            </a>
                            <a href="#">
                                <i class="fas fa-user-minus btn-delete" style="color:black"
                                   th:value="${product.productId}" data-toggle="modal"
                                   data-target="#exampleModal"></i>
                            </a>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <div th:align="center">
                <input type="hidden" id="present-page" th:value="${productList.number}">
                <a th:if="${productList.hasPrevious()}"
                   th:href="@{/product/(page = ${productList.number - 1}, searchName = ${searchNameOld}, searchPrice =${searchPriceOld})}">Previous</a>
                <span th:text="${productList.number + 1}"></span>/<span th:text="${productList.totalPages}"></span>
                <a th:if="${productList.hasNext()}"
                   th:href="@{/product(page = ${productList.number + 1}, searchName = ${searchNameOld}, searchPrice =${searchPriceOld})}">Next</a>
            </div>
            <a th:href="@{/product/goCreate}"><span class="btn btn-primary">Add New Product</span></a>
        </div>
    </div>
</div>
<!-- modal-delete-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure to delete this product?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="#" id="continue">
                    <button type="button" class="btn btn-primary">Delete</button>
                </a>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(".btn-delete").click(function () {
            let id = $(this).attr("value");
            $("#continue").attr("href", `/product/delete?id=${id}`);

        });
        let str = "";
        str += `<div id="selection">
                    <form action="/product" id="request-search" class="bg-light">
                        <label>Tên sản phẩm
                        <input type="text" name="searchName" placeholder="Nhập tên sản phẩm"/></label>
                        <label>Giá bắt đầu
                        <input type="text" name="searchPrice" placeholder="Nhập giá bắt đầu"/></label>
                        <button type="submit">Search</button>
                    </form>
                </div>`
        $("#selection").html(str);
        $("#search").click(function () {
            $("#request-search").submit();
        });

    });
</script>
</body>
</html>