<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-10 background-form">
      <form (ngSubmit)="onEdit(formEdit)" [formGroup]="formEdit">
        <div class="form-row">
          <div class="form-group col-lg-4">
            <label>Car id:</label>
            <input class="form-control" disabled formControlName="id">
          </div>
          <div class="form-group col-lg-4">
            <label>Type:</label>
            <input class="form-control" formControlName="type">
            <small style="color: red" *ngIf="formEdit.controls.type?.errors?.required">
              Type is required
            </small>
          </div>
          <div class="form-group col-lg-4">
            <label>Supplier:</label>
            <input class="form-control" formControlName="supplier">
            <small style="color: red" *ngIf="formEdit.controls.supplier?.errors?.required">
              supplier is required
            </small>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-lg-4">
            <label>Begin place</label>
            <input class="form-control" formControlName="beginPlace">
            <small style="color: red" *ngIf="formEdit.controls.beginPlace?.errors?.required">
              beginPlace is required
            </small>
          </div>
          <div class="form-group col-lg-4">
            <label>End place</label>
            <input class="form-control" formControlName="endingPlace">
            <small style="color: red" *ngIf="formEdit.controls.endingPlace?.errors?.required">
              endingPlace is required
            </small>
          </div>
          <div class="form-group col-lg-4">
            <label>Phone</label>
            <input class="form-control" formControlName="numberPhone">
            <small style="color: red" *ngIf="formEdit.controls.numberPhone?.errors?.required">
              numberPhone is required
            </small>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-lg-4">
            <label>Email: </label>
            <input class="form-control" formControlName="email">
            <small style="color: red" *ngIf="formEdit.controls.email?.errors?.required">
              email is required
            </small>
          </div>
          <div class="form-group col-lg-4">
            <label>Begin time</label>
            <input class="form-control" formControlName="beginTime">
            <small style="color: red" *ngIf="formEdit.controls.beginTime?.errors?.required">
              beginTime is required
            </small>
          </div>
          <div class="form-group col-lg-4">
            <label>End time</label>
            <input class="form-control" formControlName="endTime">
            <small style="color: red" *ngIf="formEdit.controls.endTime?.errors?.required">
              endTime is required
            </small>
          </div>
        </div>
        <button [disabled]="formEdit.invalid" class="btn btn-primary">Save</button>
        <button class="btn btn-primary" routerLink="/list">Cancel</button>
      </form>
    </div>
  </div>
</div>
